.buttons
{
    width: 45px;
    height: 180px;
    background-color: grey;
}
#controlls
{
  position: absolute;
  left: 290px;
  top: 30px;
  opacity: 60%;
}
#controlls2
{
  position: absolute;
  left: 50px;
  top: 30px;
  opacity: 60%;
}